
.navbar{
    background-color:khaki;
}

.quem-somos{
    background-color: lightblue;
    color: white;
}

.parceiros{
    background-color: rgb(0, 255, 85);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-bottom: 50px;
}

.bg-footer{
    background-color: black;
    color: white;
}

